<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<!--Начало верхней панели-->
<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
    <span>
    <span class="navbar-brand font-weight-bold" th:text="${user.email}"></span>
    <span class="navbar-brand"
          th:text="'with roles: ' + ${user.roles.toString()}"></span>
    </span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>
<!--Конец верхней панели-->

<div class="container-fluid">
  <div class="row">
    <!--<Начало боковой панели-->
    <div class="p-0 col-2" th:fragment="sidebar">
      <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" href="/admin" sec:authorize="hasRole('ROLE_ADMIN')" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
        <a class="nav-link" href="/user" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
      </div>
    </div>
    <!--<Конец боковой панели-->

    <!-- Основной блок начало -->
    <div class="p-0 col-10 bg-light">
      <div class="tabs p-4">
        <h1 class="pb-2">Admin panel</h1>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#usersTable" id="tableLink">Users Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
          </li>
        </ul>
        <div class="tab-content">
          <!-- Таблица юзеров начало -->
          <div class="tab-pane fade show active" id="usersTable">
            <div class="p-3 border">
              <h5 class="my-0 mx-2">All Users</h5>
            </div>
            <div class="p-3 bg-white border border-top-0">
              <table id="userTable" class="table table-striped bg-white">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Login</th>
                  <th>Role</th>
                  <th class="d-none">Pass</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>

            <!-- Модальное окно редактирования юзера начало -->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form id="editForm">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body font-weight-bold">
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="editId" class="col-form-label">Id</label>
                        <input type="text" class="form-control form-control-sm" id="editId" name="id" readonly>
                      </div>
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="editFirstName" class="col-form-label">First Name</label>
                        <small class="form-text text-muted">Enter first name</small>
                        <input type="text" class="form-control form-control-sm" id="editFirstName" name="firstName"  required>
                      </div>
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="editLastName" class="col-form-label">Last Name</label>
                        <small class="form-text text-muted">Enter last name</small>
                        <input type="text" class="form-control form-control-sm" id="editLastName" name="lastName">
                      </div>
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="editEmail" class="col-form-label">Email</label>
                        <small class="form-text text-muted">enter email</small>
                        <input type="text" class="form-control form-control-sm" id="editEmail" name="email"  required>
                      </div>
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="editLogin" class="col-form-label">Login</label>
                        <small class="form-text text-muted">enter login</small>
                        <input type="text" class="form-control form-control-sm" id="editLogin" name="username" required>
                      </div>
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="editPassword" class="col-form-label">Password</label>
                        <small class="form-text text-muted">Enter password</small>
                        <input type="text" class="form-control form-control-sm" id="editPassword" name="password"  required>
                      </div>
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="editRoles">Role</label>
                        <select multiple class="form-control form-control-sm" id="editRoles" name="roles" size="2" required></select>
                      </div>
                    </div>
                    <div class="modal-footer danger-info">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <input type="submit" class="btn btn-primary" value="Edit" id="edit-submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Модальное окно редактирования юзера конец -->

            <!-- Модальное окно удаления начало -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form id="delForm">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body font-weight-bold">
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="delId" class="col-form-label">Id</label>
                        <input type="text" class="form-control form-control-sm" id="delId" name="id" readonly>
                      </div>
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="delFirstName" class="col-form-label">First Name</label>
                        <input type="text" class="form-control form-control-sm" id="delFirstName" name="firstName" readonly>
                      </div>
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="delLastName" class="col-form-label">Last Name</label>
                        <input type="text" class="form-control form-control-sm" id="delLastName" name="lastName" readonly>
                      </div>
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="delEmail" class="col-form-label">Email</label>
                        <input type="text" class="form-control form-control-sm" id="delEmail" name="email" readonly>
                      </div>
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="delLogin" class="col-form-label">Login</label>
                        <input type="text" class="form-control form-control-sm" id="delLogin" name="username" readonly>
                      </div>
                      <div class="d-flex flex-column align-items-center form-group">
                        <label for="delRoles">Role</label>
                        <select multiple class="form-control form-control-sm" id="delRoles" name="roles" readonly size="2"></select>
                      </div>
                    </div>
                    <div class="modal-footer danger-info">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <input type="submit" class="btn btn-danger" value="Delete" id="del-submit">
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Модальное окно удаления конец -->
          </div>
          <!-- Таблица юзеров конец -->

          <!-- Таблица добавления юзера начало -->
          <div class="tab-pane fade" id="newUser">
            <div class="p-3 border">
              <h5 class="my-0 mx-2">Add New User</h5>
            </div>
            <div class="p-3 bg-white border border-top-0">
              <form id="addForm">
                <div class="wrapper d-flex flex-column align-items-center font-weight-bold">
                  <div class="d-flex flex-column align-items-center form-group col-6">
                    <label for="firstName" class="col-form-label">First Name</label>
                    <small class="form-text text-muted">Enter First name</small>
                    <input type="text" class="form-control form-control-sm" id="firstName" name="firstName"  required>
                  </div>
                  <div class="d-flex flex-column align-items-center form-group col-6">
                    <label for="lastName" class="col-form-label">Last Name</label>
                    <small class="form-text text-muted">Enter last name</small>
                    <input type="text" class="form-control form-control-sm" id="lastName" name="lastName" required>
                  </div>
                  <div class="d-flex flex-column align-items-center form-group col-6">
                    <label for="email" class="col-form-label">Email</label>
                    <small class="form-text text-muted">Enter email</small>
                    <input type="text" class="form-control form-control-sm" id="email" name="email" required>
                  </div>
                  <div class="d-flex flex-column align-items-center form-group col-6">
                    <label for="username" class="col-form-label">Login</label>
                    <small class="form-text text-muted">Enter Login</small>
                    <input type="text" class="form-control form-control-sm" id="username" name="username" required>
                  </div>
                  <div class="d-flex flex-column align-items-center form-group col-6">
                    <label for="password" class="col-form-label">Password</label>
                    <small class="form-text text-muted">Enter password</small>
                    <input type="password" class="form-control form-control-sm" id="password" name="password" required>
                  </div>
                  <div class="d-flex flex-column align-items-center form-group col-6">
                    <label for="roles">Role</label>
                    <select multiple class="form-control form-control-sm" id="roles" name="roles" size="2" required>
                      <option th:each="role: ${roles}" th:value="${role.getName()}">
                        <th:block th:text="${role.toString()}"></th:block>
                      </option>
                    </select>
                  </div>
                  <div class="d-flex flex-column align-items-center form-group col-4 danger-info">
                    <button type="submit" class="btn btn-success">Add new user</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- таблица добавления юзера конец -->
        </div>
      </div>
    </div>
    <!-- основной блок конец -->
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/admin.js}"></script>
</body>
</html>